	<head>
	<link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/simple-sidebar.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Basic Bootstrap Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<link rel="stylesheet" href="/lib/bootstrap.min.css">
	<script src="/lib/jquery.min.js"></script>
   	<script src="/lib/bootstrap.min.js"></script>	
   	</head>	